/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '../header/index.scss';

.#{$prefixCls} {
  &__search-input {
    width: 150px;
    border-radius: 20px;
    background-color: var(--hover-background-color);
    border-color: var(--hover-background-color);
    input {
      // color: darken(#fff, 25%);
      color: #fff;
      background: transparent;
      font-size: 12px;
    }
  }
}
