* {
  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: $browser-default-font-size-px;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei',
    'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: $text-color;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: $base-background-color;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
}

a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

figure {
  margin: 0;
}

em {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
  margin: 0;
}

// ul ol dl
ul,
ol,
li,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none outside none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

/* 表格下多个a标签，之间加竖线 */
.link-divider-vertical {
  & + .link-divider-vertical {
    margin-left: 16px;

    &::before {
      background: #e8e8e8;
      content: '';
      position: relative;
      left: 0;
      transform: translate(-8px, -0.1em);
      display: inline-block;
      width: 1px;
      height: 0.8em;
      vertical-align: middle;
    }
  }
  &.error {
    color: #fff;
  }
  &.warning {
    color: $base-primary-color;
  }
}
